# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
bin/
lib/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Secrets/Env
.env
.flaskenv

# Editor/OS
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# Project specific
static/preview.png.bak
